@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #E0E0E0;
  --foreground: #212121;
  --card: #E0E0E0;
  --card-foreground: #212121;
  --popover: #F5F5DC;
  --popover-foreground: #212121;
  --primary: #009246;
  --primary-foreground: #F5F5DC;
  --secondary: #E0E0E0;
  --secondary-foreground: #212121;
  --muted: #a6a6a6;
  --muted-foreground: #212121;
  --accent: #E0E0E0;
  --accent-foreground: #212121;
  --destructive: #a6a6a6;
  --border: #a6a6a6;
  --input: #E0E0E0;
  --ring: #009246;
  --chart-1: #009246;
  --chart-2: #E0E0E0;
  --chart-3: #212121;
  --chart-4: #F5F5DC;
  --chart-5: #a6a6a6;
  --sidebar: #E0E0E0;
  --sidebar-foreground: #212121;
  --sidebar-primary: #009246;
  --sidebar-primary-foreground: #F5F5DC;
  --sidebar-accent: #a6a6a6;
  --sidebar-accent-foreground: #212121;
  --sidebar-border: #a6a6a6;
  --sidebar-ring: #009246;
}

.dark {
  --background: #212121;
  --foreground: #F5F5DC;
  --card: #212121;
  --card-foreground: #F5F5DC;
  --popover: #212121;
  --popover-foreground: #F5F5DC;
  --primary: #009246;
  --primary-foreground: #F5F5DC;
  --secondary: #a6a6a6;
  --secondary-foreground: #F5F5DC;
  --muted: #a6a6a6;
  --muted-foreground: #E0E0E0;
  --accent: #E0E0E0;
  --accent-foreground: #F5F5DC;
  --destructive: #a6a6a6;
  --border: #E0E0E0;
  --input: #a6a6a6;
  --ring: #009246;
  --chart-1: #009246;
  --chart-2: #E0E0E0;
  --chart-3: #F5F5DC;
  --chart-4: #a6a6a6;
  --chart-5: #212121;
  --sidebar: #212121;
  --sidebar-foreground: #F5F5DC;
  --sidebar-primary: #009246;
  --sidebar-primary-foreground: #F5F5DC;
  --sidebar-accent: #E0E0E0;
  --sidebar-accent-foreground: #F5F5DC;
  --sidebar-border: #a6a6a6;
  --sidebar-ring: #009246;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

.font-antarctican-mono {
  font-family: var(--font-antarctican-mono), monospace;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
